<% if is_admin? %>
<div>
  <p><%= link_to "Add a New Forum", url(:new_forum) %></p>
</div>
<% end %>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Forums</th>
      <th class="last_update">Last Post</th>
    </tr>
  </thead>
  <tbody>
<% @forums.each do |forum| %>
  <tr>
    <td>
      <%= link_to forum.name, url(:forum_topics, :forum_id => forum), :class => "forum_title" %>
      <p><%= forum.topics_count %> Topics - <%= forum.posts_count %> Posts</p>
      <%= forum.description_html %>
      <p><small></small></p>
    </td>
    <td class="last_update">
      <p>
        <%= forum.posts_count == 0 ? "Never" : forum.latest_post.updated_at %>
      </p>
    </td>
  </tr>
<% end %>
  </tbody>
</table>