<h2><%= @topic.title %></h2>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
    </tr>
  </thead>
  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td class="author">
          <p><%= image_tag post.user.gravatar %><br />
          <%= post.user.login %><br />
          <%= post.user.posts.size %> Posts</p>
        </td>
        <td>
          <div><%= link_to "Edit", url(:edit_forum_topic_post,{ :forum_id => @forum,:topic_id => @topic, :id => post} ) if can_edit?(post) %></div><%= post.body_html %>
          <%= tag :p, "Attachments" unless post.attachments.empty? %>
          <% post.attachments.each do |attachment| %>
          <p><%= link_to attachment.title, attachment.path %></p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= partial :post_form, :with => @post if logged_in? %>
