<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Merbums - Where merbs hang out when their mongrels die.</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">    
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />

  </head>
  <body>
    <div class="header">
      <ul>
        <li><%= link_to "home", "/" %></li>
        <%= tag :li, link_to("Login/Register",url(:login)) unless logged_in? %>
        <% if logged_in? %>
          <li><%= link_to "logout", url(:logout) %></li>
          <li><%= link_to "users", url(:users) %></li>
        <% end %>
      </ul>
    </div>
    <div class="content">
      <div class="notice">
        <h2>Welcome to Merbums!</h2>
        <p>Merbums is a merb powered forum heavily inspired by Beast.</p>
        <p>Git repo at <a href="http://github.com/shayarnett/merbums/tree/master">http://github.com/shayarnett/merbums/tree/master</a>.</p>
        <p>This is a development deployment, there will be bugs, errros, and maybe even occasional database emptying. Feel free to register and play around, also post any bugs or feature requests you may have.</p></div>
      <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
      <% if flash[:message] %><div class="notice"><%= flash[:message] %></div><% end %>
      <% if controller_name == 'topics' && action_name == 'index' %>
        <p><%= link_to "Home", url(:forums) %></p>
      <% elsif controller_name == 'topics' && action_name == 'show' %>
        <p><%= link_to "Home", url(:forums) %> - <%= link_to @forum.name, url(:forum_topics,:forum_id => @forum) %></p>
      <% end %>
    
      <%= catch_content :for_layout %>
    </div>
  </body>
</html>